= @question.text
%br
  %span{:onclick=> "ShowQuestionBoard()"}
    Back to Board
-# link_to 'Back to board', @question.round
%br
  %span{:onclick=> "ShowAnswer('#{reveal_question_path}','#{@question.id}')"}
    Show answer
-# link_to "Reveal", reveal_question_path
