%h1 New Round
= form_for(@round) do |f|
  = render 'shared/error_messages', :object => f.object
  = render 'fields', :f => f
  .actions
    %span{:onclick => "CreateRound()"}
      Create Round
#reply