!!! Strict
%table
  %tr
    - @genres.each do |genre|
      %td
        = genre
  - q=0
  - 5.times do |i|
    %tr
      - 6.times do
        - q+=1
        %td
          = link_to "$#{(i+1)*100}", question_path(@round.questions.find_by_id(q))
            
